<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>
  		 <% if @edit_book.errors.any? %>
    <%= @edit_book.errors.count %>errormessage
   <% @edit_book.errors.full_messages.each do |message| %>
   <%= message %>
   <% end %>
   <% end %>
   	<%= form_with model: @user,  local:true do  |f| %>
    <div class="form-group">
    <label for="book_title">Title</label>
  </br><%= f.text_field :title , class: "from-control" %>
  </div>
  <div class="form-group">
    <label for="book_opinion">Opinion</label>
  </br><%= f.text_area :body , class: "from-control" %>
  </div>
  <div class="form-group">
  <%= f.submit 'Update Book', class: 'btn btn-success'  %>
  </div>
<% end %>
<span><%= link_to "Show", book_path(@book) %></span>
 |
<span><%= link_to "Back", books_path %></span>
</div>
</div>
</div>
      <footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>